.betterclass {
}

.image {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.inputField {
    margin: 5% 5%;
    border: 1px solid var(--grey-color);
    padding: 5px 10px;
    border-radius: 50px;
    width: 100%;
}
