.info {
  img {
    width: 35px;
    height: 35px;
  }
}

.benutzer {
  height: 60px !important;
  width: 60px !important;
  margin-right: 25px;
}

.name {
  font-size: 30px;
  line-height: 1em;
}

.socialmedia {
  margin-left: 35px;

  img {
    margin-right: 30px;
  }

  .row {
    margin-bottom: 15px;
    font-size: 25px !important;
  }
}

.info {
  margin-bottom: 25px;
}