.profilePic {
  width: 100%;
  height: 400px;
  margin-bottom: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

.userM {
  margin-bottom: 75px !important;

  .matches {
    margin: 0px !important;
  }

  .backBtn {
    margin-top: 25px;
    margin-left: 10px;
  }
}

.infos {
  margin-left: 20px;
  margin-top: 15px;
}

.tags-matches {
  margin-top: 20px !important;
}

.socialMedia {
  margin-top: 25px;
}

.description {
  margin-right: 20px;
  margin-top: 15px;
}