.back {
  width: 35px;
  transform: rotate(180deg);
}

.text {
  color: var(--grey-color);
  font-size: 20px;
  vertical-align: middle;
}

h1 {
  font-size: 25pt;
  font-weight: 500;
}

.inputpackage {
  width: 100%;

  .description {
    font-size: 10pt;
    padding: 0pt;
    margin: 0pt;
  }

  input {
    width: 90%;
    font-size: 13pt;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-color: var(--grey-color);
    border-bottom-width: 1px;

    ::placeholder {
      color: var(--main-color);
    }
  }
}